name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        include-prerelease: true

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Test
      run: dotnet test --no-build --configuration Release --verbosity normal

    - name: Publish API
      run: dotnet publish WorkifyApp.ApiService/WorkifyApp.ApiService.csproj -c Release -o ./publish/api

    - name: Publish Web
      run: dotnet publish WorkifyApp.Web/WorkifyApp.Web.csproj -c Release -o ./publish/web
